{:paths ["src"]
 :deps {org.clojure/test.check {:mvn/version "0.9.0"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                 :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}
                      com.gfredericks/test.chuck {:mvn/version "0.2.9"}}
         :main-opts ["-m" "cognitect.test-runner"]}
  :check {:extra-deps {org.clojure/test.check {:mvn/version "0.9.0"}}}}}
